<section class="flex items-center m-6 swiper-container">
   <div class="swiper-wrapper">
       <button class="swiper-button-prev previous hover:text-gray-600 opacity-50 text-3xl"  ></button>
    <!--Tercera foto-->
    <picture class=" swiper-slide">
        <source media="(min-width:1024px)" srcset="{{product_imgl3}}">
        <source media="(min-width:768px)" srcset="{{product_imgm3}}">
        <img src="{{product_imgp3}}" alt="{{product_name}}">
    </picture>
    <!--Segunda foto-->
    <picture class=" swiper-slide">
        <source media="(min-width:1024px)" srcset="{{product_imgl2}}">
        <source media="(min-width:768px)" srcset="{{product_imgm2}}">
        <img src="{{product_imgp2}}" alt="{{product_name}}">
    </picture>
    <!--Primera foto-->
    <picture class=" swiper-slide">
        <source media="(min-width:1024px)" srcset="{{product_imgl1}}">
        <source media="(min-width:768px)" srcset="{{product_imgm1}}">
        <img src="{{product_imgp1}}" alt="{{product_name}}">
    </picture>
    <button class="swiper-button-next hover:text-gray-600 opacity-50 text-3xl"></button>

    </div>
</section>