{{#if primary}}
<a href="{{uri}}"
  class="w-100 md:ml-6 mb-4 md:mb-0 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-yellow-600 hover:bg-yellow-700">
  {{text}}
</a>
{{else}}
<a href="{{uri}}"
  class="w-100 md:ml-6 mb-4 md:mb-0 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray bg-yellow-600 hover:bg-yellow-700 text-white">
  {{text}}
</a>
{{/if}}
